In [1]:
import sys
import os
import importlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Get the absolute path of the project root (modify if needed)
project_root = os.path.abspath(r"C:\Users\wmate\OneDrive\UNFC\Term 2\Predictive Analytics\Heart_Disease_Risk_Prediction")

# Add the project root to sys.path if not already added
if project_root not in sys.path:
    sys.path.append(project_root)

# Importar el módulo
from src import visualizations

# Recargar el módulo después de modificarlo
importlib.reload(visualizations)

# Ahora puedes volver a usar las funciones actualizadas
from src.visualizations import plot_distribution_by_category,plot_correlation_by_category
from src.tools import categorizar_tipos_basicos, categorizar_tipos_detallados, crosstab_percentages

In [2]:
# Read Heart_Disease_Risk_Prediction\data\processed\df_loan.pkl
df = pd.read_pickle(os.path.join(project_root, "data", "processed", "df_loan.pkl"))
df.drop(columns=['CURRENT_JOB_YRS'], inplace=True)
df.head()

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_HOUSE_YRS,Risk_Flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,13,Low Risk
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,13,Low Risk
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,10,Low Risk
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,12,High Risk
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,14,High Risk

In [3]:
df.dtypes

Id                      int64
Income                  int64
Age                     int64
Experience              int64
Married/Single       category
House_Ownership      category
Car_Ownership        category
Profession           category
CITY                 category
STATE                category
CURRENT_HOUSE_YRS       int64
Risk_Flag            category
dtype: object

In [4]:
df.describe()

,Id,Income,Age,Experience,CURRENT_HOUSE_YRS
count,252000.000000,2.520000e+05,252000.000000,252000.000000,252000.000000
mean,126000.500000,4.997117e+06,49.954071,10.084437,11.997794
std,72746.278255,2.878311e+06,17.063855,6.002590,1.399037
min,1.000000,1.031000e+04,21.000000,0.000000,10.000000
25%,63000.750000,2.503015e+06,35.000000,5.000000,11.000000
50%,126000.500000,5.000694e+06,50.000000,10.000000,12.000000
75%,189000.250000,7.477502e+06,65.000000,15.000000,13.000000
max,252000.000000,9.999938e+06,79.000000,20.000000,14.000000

In [ ]:
import pandas as pd
from lazypredict.Supervised import LazyClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

df_sample = df.sample(frac=0.1, random_state=42)

# Separate features (X) and target (y)
X = df_sample.drop('Risk_Flag', axis=1)
y = df_sample['Risk_Flag']

# Handle categorical features using Label Encoding
categorical_cols = X.select_dtypes(include=['category']).columns
for col in categorical_cols:
    le = LabelEncoder()
    X[col] = le.fit_transform(X[col])

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and fit the LazyClassifier
clf = LazyClassifier(verbose=0, ignore_warnings=True, custom_metric=None)
models, predictions = clf.fit(X_train, X_test, y_train, y_test)
models

In [ ]:
path_Reults_model="./data/models_results"
models.sort_values('F1 Score', ascending=False).to_csv(os.path.join(project_root, path_Reults_model, 'models_results v2.csv'))